<div id="new-order">
  <h3>Place a new order</h3>
  <br/>
  <p>Give this order a good name for future reference.</p>
  <div class="float-container">
    <label for="orderField">Order Name</label>
    <input id = "orderField"  class="float-field" type="text" name="orderField"  [(ngModel)]="orderName" #orderField required>
  </div>
  <p>Select a destination</p>
  <div id="map-div"><app-map [type]="'order'" (locationChange)="updateLocation($event)"></app-map></div>
  <div class="text">Latitude of Destination: <p id="lat" #lat>{{latVal}}</p></div>
  <div class="text">Longitude of Destination: <p id="long" #long>{{longVal}}</p></div>
  <button class="btn" (click)="placeOrder()">Place Order</button>
</div>
