header{
  padding-top:10px;
  padding-bottom: 10px;
  height: 40px;
  width:100%;
  z-index:1;
  /*margin-bottom: 5px;*/
  top:0;
  background-color: whitesmoke;
  transition: ease-out 0.1s;
  box-shadow: 0 0 5px 1px #999999;
}

.logo {
  margin-left:10px;
  width: 40px;
  height: 40px;
  float:left;
}

.main-menu{

}

.menu{
  margin-top:8px;
  height: 60px;
  float: left;
}

.tab{
  height: inherit;
  vertical-align: middle;
  text-align: center;
  display: inline;
  margin-left:5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 85%;
  color: #777777;
}

.tab:hover{
  background: #dedede;
  border-radius: 15px;
  color: #222222;
}

 a{
  color: inherit;
  text-decoration: none;
}

.profile{
  margin-top:10px;
  float:right;
  margin-right:10px;
  cursor:pointer;
}

.btn-dropdown{
  background: white;
}

.dropdown-item a{
  text-decoration: none;
  color: inherit;
}

#profile-dropdown{
  position: absolute;
  z-index: 2;
  font-size: 85%;
  color: #777777;
}

.inactive{
  display: none;
}

.dropdown-item{
  margin-top:5px;
  cursor: pointer;
  border-radius: 15px;
  color: #777777;
}

.dropdown-item:hover{
  background: #dedede;
  color: #222222;
}

#profile-btn{
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
}

.profile-arrow{
  margin-left:10px;
  height: 10px;
  width: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#username{
  font-size: 85%;
  color: #777777;
  float: left;
  height: inherit;
  margin-top:0px;
  margin-right:10px;
}

.auth{
  font-size: 85%;
  color: #777777;
  float: right;
  height: inherit;
  margin-right:10px;
}

.login{
  margin-top:5px;
  padding: 5px 10px;
  float:left;
}

.login:hover{
  color: #222222;
  cursor: pointer;
  background: #dedede;
  border-radius: 15px;
}
