<header>
  <div class="main-menu">
    <img src="/assets/img/logo.svg" class="logo">
    <ul class="menu">
      <li class="tab"><a href="/">Home</a></li>
      <li class="tab"><a href="/order/track">Track Order</a></li>
      <li class="tab"><a href="/order/new">Place Order</a></li>
      <li class="tab"><a href="#">Blog</a></li>
      <li class="tab"><a href="#">Support</a></li>
    </ul>
    <div class="profile" *ngIf="authenticated; else auth" onclick="profileOptions()">
      <p id="username">{{user}}</p>
      <img src="/assets/img/user.svg" id="profile-btn">
      <img src="/assets/img/ddarrow.svg" class="profile-arrow">
      <div class="btn-dropdown inactive" id="profile-dropdown">
        <div class="dropdown-item"><a href="#">Profile</a></div>
        <div class="dropdown-item"><a href="#">Orders</a></div>
        <div class="dropdown-item"><a href="#">Log Out</a></div>
      </div>
    </div>
    <ng-template #auth>
      <div class="auth">
        <div class="login"><a href="/login">Login</a></div>
        <div class="login"><a href="/register">Register</a></div>
      </div>
    </ng-template>
  </div>
</header>
