<div id="login">
  <p id="login-text"><b>LOG IN</b></p>
  <form id="login-form">
    <div class="float-container">
      <label for="usernameField-login">Username</label>
      <input id = "usernameField-login" [(ngModel)]="login.username" class="float-field" type="text" name="usernameField" #usernameField required>
    </div>
    <div class="float-container">
      <label for="passwordField-login">Password</label>
      <input id = "passwordField-login" [(ngModel)]="login.password" class="float-field" type="password" name="passwordField" #passwordField required>
    </div>
    <div class="error-div"><span class="error">{{subError}}</span></div>
    <button class="submit-btn" (click)="loginUser()" ><b>LOG IN</b></button>
    <p>New here? <a href="register" class="links">Register</a> yourself for fast deliveries!</p>
  </form>
</div>
